<div class="container margin-top-10">
  <div class="col-md-12">
      <mat-toolbar color="primary" class="text-center">Wysiwyg Editor</mat-toolbar>
  </div>
  <div class="col-md-8  margin-top-8">
    <ckeditor [(ngModel)]="ckeditorContent" [config]="ckeConfig" debounce="500" #myTextArea (click)="getCaretPos(myTextArea)"
      (keyup)="getCaretPos(myTextArea)">
    </ckeditor>
  </div>
  <div class="col-md-4  margin-top-8">
    <mat-toolbar>Lookup Synonyms</mat-toolbar>
    <div class="col-md-7">
      <mat-form-field>
        <input matInput [(ngModel)]="data" placeholder="Enter word">
      </mat-form-field>
    </div>
    <div class="col-md-5 text-center margin-top-8">
      <button mat-raised-button title="Lookup Synonyms" color="primary" (click)="getSynonyms()">
        Lookup
      </button>
    </div>

    <mat-progress-bar *ngIf="loading" mode='buffer'></mat-progress-bar>

    <div class="col-md-12">
      <mat-form-field *ngIf="synonyms" class="margin-top-10">
        <mat-select placeholder="Synonyms" [(ngModel)]="selectedSynonym" name="synonym" (change)="onSelectCat(selectedSynonym)">
          <mat-option *ngFor="let synonym of synonyms" value="{{synonym.word}}">{{synonym.word}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>
</div>